---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';


const metadata = {
  title: 'MediteranoBay — Aktiva resor för grupper och företag',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Företagsresor',
        href: 'resor/foretagsresor',
        target: '_blank',
        icon: 'tabler:plane',
      },
      { text: 'Gruppresor', icon:'tabler:sun', href: 'resor/gruppresor' },
    ]}
    image={{ src: '~/assets/images/petrovac.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Upplev Montenegro<span class="hidden xl:inline"> aktiva resor för</span>
      <span class="text-accent dark:text-white highlight">  grupper och företag</span> 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Res till Montenegro</span> på företagsevent, kick-off, konferens eller gruppresa. Vid det Adriatiska havet ligger Montenegro med dess medeltida charm. Ett litet land som är den perfekta destinationen för teambuildning och nya upplevelser.</span
      >

      
    </Fragment>
  </Hero>


 

  <!-- Features Widget *************** -->

  <Features
  id="features"
  tagline="Varför boka med oss"
  title="Stora grupper, teambuildning eller kanske kompisgäng som vill få nya upplevelser"
  subtitle="Vi tror på magin i att förvandla idéer till fantastiska upplevelser. Grundat av passionerade reseentusiaster erbjuder vi inspirerande och utmanande grupp- och eventresor till privatpersoner och företag. Upplev Montenegros finaste resmål genom unika boenden, aktiviteter och måltidsupplever."
  items={[
    {
      title: 'Helhetsupplevelsen',
      description:
        'Vår ambiton är att sammanföra Skandinavien med Montenegro. Genom att paketera resor som en helhetsupplevelse från start till mål erbjuder vi ett genomtänkt innehåll, engagemang och en stor dos kreativitet. Välj mellan redan färdiga helhetslösningar eller skräddarsydda paket.',
      icon: 'tabler:brand-tailwind',
    },
    {
      title: 'Trygghet',
      description:
        'Att resa med MediteranoBay är tryggt. Genom att ställa statliga garantier till Kammarkollegiet får ni en trygg och verifierad paketresa.  Utifrån vår omfattande lokalkännedom samarbetar vi endast med seriösa leverantörer och partners. Våra duktiga reseledare på plats hjälper er så att er resa blir precis som ni tänkt Er.',
      icon: 'tabler:components',
    },
    
    {
      title: 'Lokal kännedom',
      description:
        '  Utifrån vår omfattande lokalkännedom samarbetar vi endast med seriösa leverantörer och partners och kan därmed erbjuda bästa möjliga pris när du bokar din resa med oss. Våra duktiga reseledare på plats hjälper er under hela resan så att er resa blir precis som ni tänkt Er.',
      icon: 'tabler:arrows-right-left',
    },
   
    {
      title: 'Klimatsmart resa',
      description:
        'Vikten av att kunna leverera hållbara resepaket med fokus på miljö och klimatavtryck värdesätter vi högt. Därför erbjuder vi klimatkompensation på samtliga av våra resor.',
      icon: 'tabler:rocket',
    },
    {
      
    },
    {
      
    },
  ]}
/>
  

  <!-- Content Widget **************** -->
  <Content
  isReversed
  title="Upplev landet där du på morgonen kan vandra i bergen och på eftermiddag ta ett dopp i havet."
  items={[
    {
      title: 'Kombinera konferens och äventyr för att förbättra teambuildningen',
      description:
        'Segla i den vackra Adriatiska havet med kristallblått vatten, åk linbana över en hissnande kanjon mitt över en forsande flod, kör jeep runt höga berg, prova på extrem canyoning eller bara chilla med en glas lokal vin vid stranden. Montenegro har allt. Sol och vacker natur är i fokus och det är varmt och skönt från slutet av april till oktober.',
    },
    {
      title: 'Upplev Montenegros mångfacitterande skönhet',
      description:
        'Här hittar du en del av av historia som ligger på UNESCO:s världsarvslista. Pittoreska montenegrinska landskap, klippiga toppar, gröna skogar, glasklara sjöar och floder, små fiskebyar och charmiga gamla städer.',
    },
  ]}
  image={{
    src: '~/assets/images/barka.png',
    alt: 'Colorful Image',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"> Äventyrliga företagsresor</h3>
    Varje företagsresa är en investering och med genomtänkt innehåll, engagemang och en stor dos kreativitet skapar vi nya upplevelser. 
  </Fragment>

  <Fragment slot="bg"> 
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"> 
    </div>
    
  </Fragment>

</Content>


  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Från gömd natur till de bästa attraktionerna, kulturella utflykter och mysiga restauranger',
        description: `Sockersöta kloster, vidunderliga berg och sandstränder med kristallklart vatten. Lilla Montenegro rymmer storslagna upplevelser.
         Utforska medeltidsstäder, vandra i bergen, upplev spa och yoga, ät goda middagar vid stranden i solnedgången. `,
      },
     
     
     
    ]}
    image={{
      src: '~/assets/images/grupp.jpg',
      alt: 'Blueprint Image',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Gruppresor</h3>
    Upplev en smakfull resa med vänner. Oavsett gruppstorlek så hittar ni något i utbudet. Stadsvandring, vinprovning eller varför inte uppleva två upplevelser på samma dag. 
  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
 

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Från yogapass till vattensport och vandringsexpeditioner',
        description:
          'I morgonsolens värme kan du börja dagen med ett uppfriskande dopp i Adriatiska havets kristallklara vatten, eller paddla längs den natursköna kusten. ',
      },
      {
        title: 'Seglingresor',
        description:
          'Upplev Montenegro från vattnet, lär er grunderna i segling och stärk teamkänslan på samma gång. Det är en enorm känsla att skota hem seglet och känna accelerationen. Det är inte heller helt fel att efter en dags hårt arbete lägga till i en skyddad vik, ta en simtur i solnedgången.',
      },
      {
        title: 'Fotbollsläger',
        description:
          'Med det härligt varmt klimat året runt är både våren och hösten perfekt tid för träningsläger med lagom temperatur och ett lugnt och behagligt tempo.',
      },
     
    ]}
    image={{
      src: '~/assets/images/biciklizam.jpg',
      alt: 'Astronauts Image',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Sportresor</h3>
    Med en imponerande omväxlande natur, fantastiska aktiviteter under varje årstid och sann hållbarhet är Montenegro en helt unik destination att resa till. Vi ses på berget eller i vattnet!
  </Fragment>

    <Fragment slot="content"></Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
  title="Njut av sol och bad längs magisk turkosblå kust, utforska storslagen natur på spännande vandringar och uppleva charmen hos pittoreska byar."
  items={[
    {
      title: '270 soldagar om året',
      description:
        "Montenegro är känt för sitt behagliga milda klimat, 270 soldagar om året.",
      icon: 'tabler:sun',
    },
    {
      title: 'Hisnande orörd natur',
      description:
        "Trots sin lilla storlek erbjuder Montenegro oändligt med äventyr. Åk till kusten och Budvanska rivieran, upptäck de vita stränderna med stora klippor i bakgrunden, ta en dyktur, åk vattenskidor, vindsurfa eller njut av sol och bad. En båttur ut till de många tillhörande öarna är en härlig upplevelse, samt Cijevnas vattenfall och den medeltida staden Kotor med dess häftiga byggnader.",
      icon: 'tabler:tree',
    },
    {
      title: 'Stort utbud av aktiviteter',
      description:
        'Det som gör Montenegro unikt och igenkännbart över hela världen är dess hav, sjöar, kanjoner, berg, och det är just detta som gör det möjligt för alla att hitta det bästa sättet att få en kvalitetsvila i ett litet men stort land. På en dag kan du unna dig ett morgonkaffe på en av de många stränderna i Hercegnovska, Kotor eller Budva rivieran, lunch ombord med fågelsång på sjön Skadar och middag vid brasan på sluttningarna av de magnifika bergen Lovćen, Durmitor eller Biogradska gora.',
      icon: 'tabler:bike',
    },
    {
      title: 'Upptäck!',
      icon: 'tabler:backpack',
    },
  ]}
  image={{
    src: '~/assets/images/Irena.jahta.png',
    alt: 'Bazen',
  }}
/>

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Resepaket', amount: '12' },
      { title: 'Aktiviteter', amount: '32+' },
      { title: 'Hotell', amount: '10+' },
      { title: 'Flygplatser', amount: '4' },
    ]}
  />



  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Låt dig inspireras i vår reseblogg"
    information={`Följ med på en upplevelserik resa
                `}
  />
  
</Layout>
