---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero

    image={{
      src: '~/assets/images/kotorbukten.jpg',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Aktiva resor och upplevelser  <br />
      <span class="text-accent dark:text-white highlight">  för grupper och företag </span>
    </Fragment>

    <Fragment slot="subtitle">
      Mediteranobay arrangerar olika upplevelser och äventyrsresor till privatpersoner och företag som önskar inspirerande upplevelseresor. Med hög flexibilitet och professionella lokala guider och vår omfattande lokalkännedom har vi möjlighet att skräddarsy varje resa.
    </Fragment>
  </Hero>


  <!-- Features3 Widget ************** -->

  <Features3
    title="Vår idé"
    subtitle="Idén är enkel – att erbjuda aktiva resor för grupper och företag till den destination vi känner bäst- Montenegro . Fokus ligger på att skapa unika reseupplevelser som kombinerar den förtrollande vackra montenegrinska kusten med landets orörda vilda natur. Den stora fördelen med Montenegro är dess mångfald – här finns allt inom räckhåll. De korta avstånden gör det möjligt att uppleva både kustens charm och bergens dramatik på en och samma dag. Följ med på en resa som du kommer att minnas länge."
   
  />

 

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Våra värderingar"
    subtitle="Vår ambition är att förena Skandinavien med Montenegro. Att så många som möjligt ska få upptäcka det bästa med Montenegro och samtidigt skapa oförglömliga upplevelser!"
    isReversed={true}
    callToAction={{
      text: 'Se utbud',
      href: '/boka',
    }}
    items={[
     
      {
        title: 'Hållbart resande',
        description:
          'På Mediteranobay tar vi ansvar för turismens påverkan på lokalsamhället genom att i första hand samarbeta med leverantörer och partners med stark lokal förankring. På så sätt stannar en större del av intäkterna från våra resor kvar hos lokalbefolkningen och bidrar till en hållbar och positiv samhällsutveckling. <br> För att ytterligare stärka resans sociala och miljömässiga avtryck erbjuder vi skräddarsydda hållbarhetspaket på plats. Tillsammans kan vi granska ert företags CSR-rapport och ESG-strategier och koppla samman dem med meningsfulla och relevanta projekt i området. ',
        icon: 'tabler:globe',
        },
     
      {
        title: 'Närproducerat & lokala leverantörer',
        description:
          'Visste du att Montenegro har tilldelats utmärkelsen- världens första ekologiska stat? För oss är det viktigt att i första hand välja lokala leverantörer. Exempelvis väljer vi, där det är möjligt, att arbeta med familjeägda hotell som serverar närproducerade råvaror, ibland t o m odlade och tillverkade i närliggande byn. Vi bokar främst transporter med det lokala bussbolaget, och ibland sker resan till och från aktiviteterna med kommunala färdmedel som lokalbuss och tåg.',
          icon: 'tabler:award',
        },
      {
        title: 'Möten & upplevelser med Mediteranobay ',
        description:
          ' Vi brukar regelbundet tillbringa några månader per år i Montenegro  och därmed har vi djupr kunskap om landet och väljer regelbundet ut nya guldkorn. <br> Detta för att säkerställa att just din resa håller högsta kvalitet. Vi lägger stor vikt vid att ha en personlig kontakt med våra kunder och det är viktigt att du känner dig trygg med att varje liten detalj är planerad och varje behov tillgodosett.',
        icon: 'tabler:message-star',
      },
    ]}
  />


  <!-- Features2 Widget ************** -->

  <Features2
    title="Hör av dig till oss"
    tagline="Kontakt"
    columns={2}
    items={[
      {
        title: 'Chatta med oss',
        description:
          'Chatta med oss direkt, eller maila till oss på <a href="mailto:info@mediteranobay.com">info@mediteranobay.com</a>',
        icon: 'tabler:messages',
      },
      {
        title: 'Kontakta oss',
        description:
          ' Kontakta oss direkt på +46 (0)73- 756 71 96',
        icon: 'tabler:headset',
      },
    ]}
  />
  <CallToAction
 title="“At the birth of our planet, the most beautiful encounter between the land and the sea must have happened at the coast of Montenegro. When the pearls of nature were sown, handfuls of them were cast on this soil.” "
 subtitle="Lord Byron"

 />
</Layout>
