---
interface Props {
    imageUrl: string;
    title: string;
    content: string;
    color: string;
    href: string;
}
const { imageUrl, title, content, color } = Astro.props;
---
<div class="grid grid-cols-1 md:grid-cols-2 p-4 m-8">
    <div>
        <img
            src={imageUrl}
            alt="Image"
            class="h-96 w-full object-cover"
        />
    </div>
    <div class={`bg-${color}-300`}>
        <div class="mx-auto p-12">
            <h1 class=" text-3xl font-bold text-balance">{title}</h1> <!-- Increased text size and made bold -->
            <br>
            <p>{content}</p>
        </div>
    </div>
</div>



